@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.serif{
    font-family: 'Roboto Slab', serif;
}


*{
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    list-style: none;
    color:#b9b9b9;
}

body{
    background: #fefefe;
}

main{
    flex: 1;
    overflow-y: auto;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.divider{
    display: flex;
    height: 3px;
    background-color: yellow;
}

.titulo{
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items:flex-end;
    height: 90px;
    color: black;
    background-color: rgb(214, 214, 214);
    box-shadow: 0px 3px 5px #0a0a0a87;
    
}

.centerbox{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-end;
    height: 100%;
    margin: 4%;
    color: black;
    background-color: rgb(214, 214, 214);
    box-shadow: 0px 3px 5px #0a0a0a87;
    
}

.toolbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    height: 50px;
    background-color: #353535;
    box-shadow: 0px 3px 5px #0a0a0a;
    z-index: 2;
    font-size: 13px;
}

.scrollfix {
    position: fixed;
    width: 100%;
}

.tbwrapper {
    padding: 0px 10px;
}

.wrapper{
    padding: 0% 10%;
}

.tbbuttons {
    display: flex;
}

.tbbuttons a{
    float: right;
    padding: 20px 16px;
    text-decoration: none;
    border-radius: 1px;
}

.tbbuttons a:hover{
    color:white;
}

.active i{
    color:white;
}

.active{
    color:white;
    background-color: #2e2e2e ;
}

/* ---------------------DIVS FOR TBBUTTONS--------------------*/


.pedidos:hover a{
    color:white;
}

.pedidos:hover i{
    color:white;
}

.dashboard:hover a{
    color:white;
}

.dashboard:hover i{
    color:white;
}

.relatorio:hover a{
    color:white;
}

.relatorio:hover i{
    color:white;
}

.cardapio:hover a{
    color:white;
}

.cardapio:hover i{
    color:white;
}

.cupons:hover a{
    color:white;
}

.cupons:hover i{
    color:white;
}
/* ---------------------DIVS FOR TBBUTTONS--------------------*/
